@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg  ">
        <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px; color:rgb(64, 64, 169)">
            </div>
            <h2 class="m-0 ">REAL-ESTATE</h2>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a asp-action="Index" id="navIndex" class="nav-item nav-link">ACCUEIL</a>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">SERVICES</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a asp-action="PropertyList" class="dropdown-item">Liste Proprietés</a>
                        <a asp-action="property_type" class="dropdown-item">Types de Proprietés</a>
                    </div>
                </div>
                <a asp-action="About" id="navAbout" class="nav-item nav-link">A-propos</a>
                <a asp-action="Contact" id="navContact" class="nav-item nav-link">Contact</a>
            </div>
            
            @if(User.Identity.IsAuthenticated)
            {
                <div class="avatar">
                    <div class="pic">
                        <img src="~/img/team-03.jpg" alt="profile-pic">
                    </div>
                    <div class="ul">
                        <ul>
                            <li><a asp-action="Dashboard">Dashboard</a></li>
                            <li><a asp-action="Deconnexion">Logout</a></li>
                        </ul>
                    </div>
                </div>
                
            }
            else
            {
                <!-- Display content for non-authenticated users -->
                <a asp-action="Connexion" class="btn btn-primary px-3 d-none d-lg-flex">Se Connecter</a>
            }
        </div>
    </nav>
</div>
<script>
    function SetActiveNav(id) {
        console.log(id);
        document.getElementById(id).classList.add("active");
    }
</script>

